@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.top {
  width: 100%;
  position: relative;
  // margin-top: var.$header_Height;
  min-height: calc(100vh - var.$footer_Height);
  z-index: 10;
}