.survey {
  .survey-form {
    .job-details {
      .job-details-heading {
        display: flex;
        justify-content: space-between;
      }
      .textCount {
        display: flex;
        align-items: center;
      }
      .job-details-textarea {
        min-height: 40px;
      }
    }
  }
} 
