@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.learn {
  margin-top: var.$header_Height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 2;
  @include mixin.graduallyPage();

  @include bp.media(xs, max) {
    gap: 50px;
  }

  .learn_title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;

    @include bp.media(xxs, max) {
      gap: 10px;
      font-size: 20px;
    }
    .question_chara_svg {
      .big_question {
        animation: flickeringQuestion 3s infinite;
      }
      .small_question {
        animation: flickeringQuestion 3s infinite;
      }

      @keyframes flickeringQuestion {
        0% {
          opacity: 0;
          transform: scale(1);
        }
        50% {
          opacity: 1;
          transform: scale(1.02);
        }
        100% {
          opacity: 0;
          transform: scale(1);
        }
      }
    }
  }

  section {
    max-width: 1000px;
    // background-color: #f5f5f5;
  }

  .learn_about,
  .learn_cause {
    display: flex;
    gap: 20px;

    @include bp.media(xxs, max) {
      flex-direction: column;
      gap: 50px;
    }
    .learn_about_title,
    .learn_cause_title {
      flex: 4;
      display: grid;
      place-items: center;

      .learn_title_text {
        position: relative;
        display: grid;
        place-items: center;
        width: 180px;
        height: 100px;
        padding: 8px;
        font-size: 24px;
        background-color: var.$main_color;
        color: #fff;
        border-radius: 5px;

        @include bp.media(xxs, max) {
          width: 150px;
          height: 70px;
          font-size: 20px;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          border-width: 15px;
          border-style: solid;
          transform: rotate(-135deg) translateX(-50%);
        }
      }

      .learn_about_title_text {
        @extend .learn_title_text;
        &::after {
          right: 20%;
          border-color: var.$main_color transparent transparent transparent;
        }
      }

      .learn_cause_title_text {
        @extend .learn_title_text;
        &::after {
          right: 70%;
          border-color: transparent transparent transparent var.$main_color;
        }
      }
      .learn_symptoms_title_text {
        @extend .learn_title_text;
        &::after {
          right: 20%;
          border-color: var.$main_color transparent transparent transparent;
        }
      }
    }
    .learn_about_description,
    .learn_cause_description {
      flex: 6;
    }
  }

  .learn_cause {
    flex-direction: row-reverse;

    @include bp.media(xxs, max) {
      flex-direction: column;
      gap: 50px;
    }
  }

  .learn_symptoms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .learn_symptoms_title {
      position: relative;
      display: grid;
      place-items: center;
      width: 180px;
      height: 100px;
      padding: 8px;
      font-size: 24px;
      background-color: var.$main_color;
      color: #fff;
      border-radius: 5px;

      @include bp.media(xxs, max) {
        width: 150px;
        height: 70px;
        font-size: 20px;
      }

      &::after {
        content: "";
        position: absolute;
        right: 20%;
        bottom: 0;
        border-width: 15px;
        border-style: solid;
        transform: rotate(-135deg) translateX(-50%);
        border-color: var.$main_color transparent transparent transparent;
      }
    }
    .learn_cause_description {
    }
    .learn_symptoms_illustration {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include bp.media(xs, max) {
        gap: 60px;
        flex-direction: column;
      }

      .learn_symptoms_illustration_bubble {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 60px;
        padding: 8px;
        font-size: 16px;
        background-color: var.$light_blue;
        color: var.$main_color;
        border-radius: 5px;
        letter-spacing: 0.1em;
        &::after {
          content: "";
          position: absolute;
          right: 50%;
          transform: translateY(-50%);
          bottom: 0;
          border-width: 10px;
          border-style: solid;
          transform: rotate(-135deg) translateX(-50%);
          border-color: transparent transparent transparent var.$light_blue;
        }
      }

      .learn_symptoms_illustration_repeat,
      .learn_symptoms_illustration_stretch {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
    .repeat_word1,
    .repeat_word2,
    .repeat_word3 {
      opacity: 0; /* 初期状態は非表示 */
    }
  
    .repeat_word1 {
      animation: wordAppear 6s  infinite;
    }
  
    .repeat_word2 {
      animation: wordAppear 6s infinite;
      animation-delay: 1s; /* 1秒後に2文字目が表示される */
    }
  
    .repeat_word3 {
      animation: wordAppear 6s infinite;
      animation-delay: 2s; /* 2秒後に3文字目が表示される */
    }
  }
    .learn_symptoms_illustration_repeat {
      display: flex;
      gap: 10px;
    
    
    @keyframes wordAppear {
      0%, 1% {
        opacity: 0; /* 最初は非表示 */
      }
      1%, 55% {
        opacity: 1; /* 文字を表示 */
      }
      80%, 100% {
        opacity: 0; /* 一斉に非表示 */
      }
    }
    
    
    
  }

  .learn_trigger {
  }
  .learn_consideration {
  }
}