@use "../../../style/breakpoint.scss" as bp;
@use "../../../style/common.scss" as mixin;

$inputFocusColor: #f4f5f6;

.input {
  .input-form {
    .job-difficulty {
      margin-bottom: 50px;
      .job-difficulty-level {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        background-color: $inputFocusColor;
        // background-color: #ffffe0;
        border-radius: 5px;

        &.isInvalid {
          @include mixin.formIsValid;
        }
    
        @include bp.media(sm, max) {
          justify-content: center;
        }
    
        &.isActive {
          @include mixin.formIsActive()
        }
        .job-difficulty-level-item {
          display: grid;
          place-items: center;
          width: 30px;
          height: 30px;
          background-color: #fff;
          border: 1px solid #e5e5e5;
          transition: 0.2s;
          padding-left: 3px;
          cursor: pointer;
    
          &.isClicked {
            color: #333;
            background-color: #e5e5e5;
          }
    
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
