@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  min-height: calc(100vh - var.$footer_Height);

  @include bp.media(xxs, max) {
    padding: 10px;
  }
  .confirm_guide {
    @include mixin.typingText();
  }

  .confirm_form {
    position: relative;
    width: 100%;
    max-width: 1000px;
    @include mixin.graduallyPage();
    
    @include bp.media(xs, max) {
      width: 80%;
      margin-bottom: 70px;
    }
    
    @include bp.media(xxs, max) {
      width: 95%;
    }
    
    .confirm_form_list {
      position: relative;
      padding: 20px 50px;
      background-color: var.$light_blue;
      border-radius: 10px;
      margin-bottom: 80px;
      // opacity: 0.8;
      
      @include bp.media(xs, max) {
        padding: 20px 30px;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        right: 20%;
        transform: rotate(-135deg) translateX(-50%);
        border-width: 30px;
        border-style: solid;
        border-color: var.$light_blue transparent transparent transparent;
      }

      .confirm_age_gender_industry, .confirm_employment_years {
        display: flex;
        gap: 50px;

        @include bp.media(sm, max) {
          flex-direction: column;
          gap: 0;
        }

        .confirm_form_row {
          flex: 1;
        }
      }

      .confirm_form_row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        hr {
          width: 100%;
          margin: 5px 0;
          border: none;
          border-top: 1px solid #ddd;
        }
      }

      .confirm_form_label {
        display: flex;
        align-items: center;
        gap: 5px;
        flex-shrink: 0;
        text-align: left;

        &::before {
          content: "";
          display: block;
          width: 7px;
          height: 20px;
          background-color: var.$main_color;
          border-radius: 2px;
          margin-right: 5px;
        }
      }

      .confirm_form_value {
        flex-grow: 1;
        word-break: break-word;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 5px;
        opacity: 0.9;
        white-space: pre-wrap;
      }
    }
  }

  .confirm_buttons {
    display: flex;
    justify-self: center;
    gap: 50px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 50px;

    @include bp.media(xxs, max) {
      gap: 30px;
    }
    .back_fill_out_button, .complete_step_button {
      flex: 1;
      height: 40px;
    }
    .complete_step_button {
      pointer-events: none;
      opacity: .5;

     &.isActive {
        pointer-events: auto;
        opacity: 1;
      }
    }

    .back_fill_out_button {
      @include mixin.actionBtn(#fff);
      color: #1a2c5b;
      border: 3px solid #1a2c5b;
      box-shadow: #fff 0px 3px 0 0, #1a2c5b 0px 7px 0 0px;
    }

    .complete_step_button {
      @include mixin.actionBtn(var.$form_btn_color);
    }
  }
}
