@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/common.scss" as mixin;

$bgColor: #ffffff;
// $bgColor: #fffef7;
$inputFocusColor: #f4f5f6;
$mustMarkColor: #f9851c;
$temporarySaveBtnColor: #7cabb4;
$freeTextColor: #1a2c5b;
$executeBtnColor: #1a2c5b;

.confirm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;

  @include bp.media(xs, max) {
    padding: 10px;
  }

  .confirm-form {
    width: 50%; /* デフォルト: 1025px以上 */

    @include bp.media(sm, max) {
      width: 80%; /* 601px〜1024px */
    }

    @include bp.media(xs, max) {
      width: 95%; /* 600px以下 */
    }
    .confirm-form-title {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .confirm-form-list {
      margin-bottom: 30px;
      .confirm-form-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        hr {
          width: 100%;
          margin: 5px 0;
          border: none;
          border-top: 1px solid #ddd;
        }
      }

      .confirm-form-label {
        font-weight: bold;
        flex-shrink: 0;
        text-align: left;
      }

      .confirm-form-value {
        flex-grow: 1;
        word-break: break-word;
        background-color: $inputFocusColor;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
  
    .back-fill-out-button {
      @include mixin.formActionBtn(#fff);
      color: #1a2c5b;
      border: 3px solid #1a2c5b;
      box-shadow: #fff 0px 3px 0 0, #1a2c5b 0px 7px 0 0px;
      padding: 8px;
      width: 100%;
    }

  .complete-step-button {
    @include mixin.formActionBtn($executeBtnColor);
    width: 100%;
  }
}
