@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.confirm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;

  @include bp.media(xxs, max) {
    padding: 10px;
  }

  .confirm_form {
    width: 50%;
    margin-bottom: 50px;
    padding: 20px;
    background-color: var.$story_bubble_color;
    border-radius: 10px;

    @include bp.media(xs, max) {
      width: 80%; /* 601px〜1024px */
    }

    @include bp.media(xxs, max) {
      width: 95%; /* 600px以下 */
    }
    .confirm_guide {
      @include mixin.typingText();
    }

    .confirm_form_list {
      margin-bottom: 70px;

      .confirm_form_row {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        hr {
          width: 100%;
          margin: 5px 0;
          border: none;
          border-top: 1px solid #ddd;
        }
      }

      .confirm_form_label {
        font-weight: bold;
        flex-shrink: 0;
        text-align: left;
      }

      .confirm_form_value {
        flex-grow: 1;
        word-break: break-word;
        background-color: var.$form_input_color;
        padding: 10px;
        border-radius: 5px;
        outline: 1px solid #333;
        outline-offset: -2px;
      }
    }
  }

  .confirm_buttons {
    display: flex;
    justify-self: center;
    gap: 50px;
    margin-bottom: 30px;
    width: 100%;

    @include bp.media(xxs, max) {
      gap: 30px;
    }
    .back_fill_out_button, .complete_step_button {
      flex: 1;
      height: 40px;
      
    }

    .back_fill_out_button {
      @include mixin.actionBtn(#fff);
      color: #1a2c5b;
      border: 3px solid #1a2c5b;
      box-shadow: #fff 0px 3px 0 0, #1a2c5b 0px 7px 0 0px;
    }

    .complete_step_button {
      @include mixin.actionBtn(var.$form_btn_color);
    }
  }
}
