@use "../../../style/variable.scss" as var;

.input {
  .input_form {
    .job_details {
      margin-bottom: var.$for_margin_Bottom;

      .textCount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 5px;
        font-size: 14px;
      }

      .job_details_textarea {
        min-height: 100px;
      }

      .underTextArea {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .temporarySave {
          .temporarySaveBtn {
            position: relative;
          }

          .textCount {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 14px;
          }
        }
      }
    }
  }
}