@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.main_area {
  position: relative;
  flex: 1;
  // max-width: 900px;
  margin-bottom: 50px;
  margin-top: var.$header_Height;
  padding: 0 10px 30px 10px;
  
  @include bp.media(sm, max) {
    padding: 0px 10px;
    margin-bottom: 10px;
  }

  @include mixin.graduallyPage(); // 背景などのアニメーション処理

  .main_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-size: var.$font_size_xl;
    letter-spacing: 0.3em;

    @include bp.media(sm, max) {
      position: relative;
      top: 10px;
      margin-bottom: 0px;
    }

    @include bp.media(xxs, max) {
      font-size: var.$font_size_md;
    }

    // search_hit_countの要素の
    .up_hand_chara {
      z-index: 10;
    }
  }

  .searchModalBtn {
    position: sticky;
    right: 10px;
    bottom: 10px;
    display: grid;
    place-items: center;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: var.$main_color;
    color: #fff;
    font-size: 13px;
    border: 3px solid #fff;

    @include bp.media(sm, min) {
      display: none;
    }

    @include bp.media(xxs, max) {
      width: 75px;
      height: 75px;
    }

    .filter_svg {
      width: 50px;
      height: 50px;

      @include bp.media(xxs, max) {
        width: 40px;
        height: 40px;
      }
    }
  }
}
