@use "../../../style/common.scss" as mixin;

.input {
  .input-form {
    .userInfo {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 20px 0;
      border-radius: 5px;
      margin-bottom: 36px;
      .username {
        .username-input {
          &.isInvalid {
            @include mixin.formIsValid;
          }
        }
      }
      .email {
        .email-input {
          &.isInvalid {
            @include mixin.formIsValid;
          }
        }
      }
    }
  }
}
