@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

$page_each_width: 30px;

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  
  .pagination_controls {
    display: flex;
    cursor: pointer;
    .page_prev_btn,.page_number , .page_next_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: $page_each_width;
      height: 30px;
      border: 2px solid var.$main_color;
      border-right: none;
      color: var.$main_color;
    }
    .page_next_btn {
      border-right: 2px solid var.$main_color;
    }
    .page_numbers {
      display: flex;
      .page_number {
        &.isActive {
          background-color: var.$main_color;
          // background-color: var.$sub_color;
          color: #fff;
        }
      }
    }
  }
}