.loading {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  pointer-events: none;
  background-color: #fff;
  z-index: 3000;
  
  @keyframes displayLoading {
    0% {
      opacity: 0;
    } 100% { 
      opacity: 1;
    }
  }
  
  .main_logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px;
    animation: displayLoading 1s forwards;
    .text_database {
    }
  }

  .loading_chara_svg {
    width: 200px;
    height: 200px;
    animation: displayLoading 0.5s forwards;
    @for $i from 1 through 3 {
      .circle_#{$i} {
        animation: changeCircleOpacity 2s infinite;
        animation-delay: #{($i - 1) * 0.5}s; // 遅延を追加
      }
    }

    .loading_text {
    animation: changeTextOpacity 1s infinite;
    }
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes changeTextOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeCircleOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
