@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/variable.scss" as var;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 20px;
  background-color: #fff;
  // border-bottom: 3px solid var.$main_color;
  // background-color: var.$main_color;
  z-index: 1000;
  transition: 0.5s;
  //spメニュー開いたとき
  // background-color: transparent;

  &.isTopPage {
    background-color: transparent;
    border-bottom: none;
  }

  &.isShow {
    height: 100vh;
    background-color: var.$main_color;
    //spメニュー開いたときの背景を透明から変更
    &.isTopPage {
      background-color:  var.$main_color;
    }
  }

  .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.isTopPage {
      justify-content: flex-end;
    }
    &.isShow {
      &.isTopPage {
        justify-content: space-between;
      }
    }


    .header_main_logo {
      @include bp.media(xs, max) {
        width: 150px;
      }

      .header_main_logo_path_navy {
        &.isShow {
          fill: #fff;
        }
      }
      .header_main_logo_path_white {
        &.isShow {
          fill: #1a2c5d;
        }
      }
    }

    .header_menu {
      display: flex;
      justify-content: center;
      // align-items: center;
      align-items: flex-start;
      align-self: start;

      gap: 20px;
      height: 100%;

      @include bp.media(xs, max) {
        display: none;
      }
      .header_item {
        color: var.$main_color;

        .header_item_text {
          // mix-blend-mode: difference;
        }
      }
    }

    .sp_header_menu {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      font-size: 24px;

      &.isShow {
        display: flex;
      }
      @include bp.media(xs, max) {
      }
      .sp_header_item {
        color: var.$main_color;

        .sp_header_item_text {
          color: #fff;
        }
      }
    }
    .menuIcon {
      position: relative;
      display: none;

      @include bp.media(xs, max) {
        display: block;
      }

      .menuIconSvg {
        .menuIconPath {
          &.isShow {
            fill: #fff;
          }
        }
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        background-color: #fff;
        border-radius: 3px;
        width: 30px;
        height: 3px;
        transition: 0.3s;

        &:first-of-type {
          top: calc(50% - 5px);
          animation: menuIconFirstLineReverse 0.5s forwards;
        }

        &:nth-of-type(2) {
          top: calc(50% + 5px);
          animation: menuIconSecondLineReverse 0.5s forwards;
        }

        &.isShow {
          &:first-of-type {
            top: calc(50% - 5px);
            animation: menuIconFirstLineChange 0.5s forwards;
          }

          &:nth-of-type(2) {
            top: calc(50% + 5px);
            animation: menuIconSecondLineChange 0.5s forwards;
          }

          @keyframes menuIconFirstLineChange {
            0% {
              top: calc(50% - 5px);
              background-color: #fff;
            }
            50% {
              top: calc(50%);
            }
            100% {
              top: calc(50%);
              transform: translate(-50%, -50%) rotate(45deg);
              transform-origin: center;
              background-color: var.$main_color;
            }
          }
          @keyframes menuIconSecondLineChange {
            0% {
              top: calc(50% + 5px);
              background-color: #fff;
            }
            50% {
              top: calc(50%);
            }
            100% {
              top: calc(50%);
              transform: translate(-50%, -50%) rotate(-45deg);
              transform-origin: center;
              background-color: var.$main_color;
            }
          }
          @keyframes menuIconFirstLineReverse {
            0% {
              top: calc(50%);
              transform: translate(-50%, -50%) rotate(45deg); /* 回転状態 */
              background-color: var.$main_color;
            }
            50% {
              top: calc(50%);
              transform: translate(-50%, -50%) rotate(0); /* 回転を元に戻す途中 */
            }
            100% {
              top: calc(50% - 5px); /* 元の位置 */
              transform: translate(-50%, -50%);
              background-color: #fff; /* 元の色 */
            }
          }
          @keyframes menuIconSecondLineReverse {
            0% {
              top: calc(50%);
              transform: translate(-50%, -50%) rotate(-45deg); /* 回転状態 */
              background-color: var.$main_color;
            }
            50% {
              top: calc(50%);
              transform: translate(-50%, -50%) rotate(0); /* 回転を元に戻す途中 */
            }
            100% {
              top: calc(50% + 5px); /* 元の位置 */
              transform: translate(-50%, -50%);
              background-color: #fff; /* 元の色 */
            }
          }
        }
      }
    }
  }
}
