@use "@/app/style/variable.scss" as var;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 10px;
  // background-color: var.$main_color;
  z-index: 1000;


    .top_header_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      height: 100%;
  
      .top_header_item {
        color: var.$main_color;
      }
    }
  }
