.survey {
  .survey-form {
    .job-struggles {
      .job-struggles-heading {
        display: flex;
        justify-content: space-between;
      }
      .textCount {
        display: flex;
        align-items: center;
      }
      .job-struggles-textarea {
        min-height: 40px;
      }
    }
  }
} 
