@use "@/style/breakpoint.scss" as bp;
@use "@/style/variable.scss" as var;

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 10px;
  background-color: var.$main_color;
  z-index: 900;

  .footer_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;


    @include bp.media(xxs, max) {
      display: grid;
      row-gap: 20px;
    }

    .footer_main_logo {
      @include bp.media(xxs, max) {
        width: 150px;
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }
    .sp_footer_menu {
      display: none;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      grid-column: 2/3;
      grid-row: 1/2;
      // background-color: #fff;
      // padding: 5px 10px;
      // border-radius: 50px;
      
      @include bp.media(xxs, max) {
        display: flex;
      }
      .sp_footer_item {
        display: flex;
        gap: 5px;
        color: var.$main_color;
        
        .sp_footer_item_text {
          // color: var.$main_color;
          color: #fff;
        }
      }
    }

    .silhouette_chara_svg {
      position: absolute;
      right: 20px;
      width: 80px;
      height: 80px;
      @include bp.media(xxs, max) {
        display: none;
      }
    }
    .copyRight {
      color: #fff;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
