@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.first_view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
  overflow: hidden;

  .first_view_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include bp.media(xs, max) {
      width: 80%;
    }

    @include bp.media(xxs, max) {
      // スマホメニューバーの高さ想定
      top: calc(50% - 50px);
      width: 95%;
    }
  }
  .main_logo {
    // 画面中央へ
    display: block;

    margin-bottom: 80px;
    @include bp.media(xs, max) {
      width: 400px;
      margin-bottom: 50px;
    }
    @include bp.media(xxs, max) {
      width: 300px;
      margin-bottom: 30px;
    }

    .bagPath {
      animation: shakeBag 13s linear infinite;
      transform-origin: 65px 45px;

      // カバンsvgのアニメーション
      @keyframes shakeBag {
        0% {
          transform: rotate(0deg);
        }
        5% {
          transform: rotate(-45deg);
        }
        10% {
          transform: rotate(0);
        }
        15% {
          transform: rotate(45deg);
        }
        20% {
          transform: rotate(0deg);
        }
        25% {
          transform: rotate(-45deg);
        }
        30% {
          transform: rotate(0deg);
        }
        33% {
          transform: rotate(30deg);
        }
        36% {
          transform: rotate(0deg);
        }
        40% {
          transform: rotate(-15deg);
        }
        45% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    }

    .gearPath_1 {
      position: relative;
      transform-origin: 447.5px 12px;
      animation: rotateGear 5s linear infinite;
    }
    .gearPath_2 {
      position: relative;
      transform-origin: 461px 29px;
      animation: rotateGear 5s linear infinite;
    }

    // 歯車svgのアニメーション
    @keyframes rotateGear {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .first_view_Text {
    text-align: center;
    transform: translateY(100px);
    color: var.$main_color;
    font-size: 24px;
    line-height: 2;
    visibility: hidden;
    opacity: 0;
    animation: displayFirstViewText 2s 0.5s forwards;

    @include bp.media(xs, max) {
      font-size: 18px;
    }

    @include bp.media(xxs, max) {
      font-size: 16px;
    }

    @keyframes displayFirstViewText {
      0% {
        transform: translateY(100px);
        visibility: hidden;
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
