.input {
  .input-form {
    .free {
      .free-heading {
        display: flex;
        justify-content: space-between;
      }
      .textCount {
        display: flex;
        align-items: center;
      }
      .free-textarea {
        min-height: 40px;
      }
    }
  }
} 
