<!DOCTYPE html>
<html>
  <body>
    <h2><%= @name %> 様</h2>
    <br/>
    <p>こちらで確認後、返信させていただきます。</p>
    <p>返信に7日ほど要する場合もございますので予めご了承ください。</p>
    <br/>
    <h3>お問い合わせ内容確認</h3>
    <p><%= @overview %></p>
    <p><%= @content %></p>
    <br/>
    <p>吃音と仕事データベース</p>
  </body>
</html>