@use "../../../style/common.scss" as mixin;
@use "../../../style/variable.scss" as var;

.input {
  .input_form {
    .reason {
      margin-bottom: var.$for_margin_Bottom;
      .reason_textarea {
        min-height: 100px;
        margin-bottom: 5px;
      }
      .textCount {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
      }
    }
  }
} 