@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.input {
  .input_form {
    .industry {
      flex: 1;
      margin-bottom: var.$form_margin_Bottom;
      @include mixin.formBackGroundColor();
      .industry-select {
        margin-bottom: var.$form_margin_Bottom;
        &.isInvalid {
          @include mixin.formIsValid;
        }
      }
    }
  }
}