.input {
  .input-form {
    .job-hunt-struggles {
      .job-hunt-struggles-heading {
        display: flex;
        justify-content: space-between;
      }
      .textCount {
        display: flex;
        align-items: center;
      }
      .job-hunt-struggles-textarea {
        min-height: 40px;
      }
    }
  }
} 
