@use "@/style/breakpoint.scss" as bp;
@use "@/style/variable.scss" as var;

.storyItems {
  .story_controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @include bp.media(sm, max) {
      flex-direction: column;
    }

  }

  .story_preview_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin-bottom: 50px;
    padding: 50px;

    @include bp.media(lg, max) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 70px;
      padding: 20px;
    }
    @include bp.media(md, max) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 70px;
    }

    @include bp.media(sm, max) {
      grid-gap: 20px;
      padding: 0px;
    }

    @keyframes storyPageChange {
      0% {
        opacity: 0;
        // filter: blur(10px);
      }
      100% {
        opacity: 1;
        // filter: blur(0px);
      }
    }

    @include bp.media(sm, max) {
      row-gap: 50px;
      column-gap: 20px;
    }

    @include bp.media(xxs, max) {
      grid-template-columns: 1fr;
    }
  }

  .story_preview_item {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // animation: movesFluffy 1s infinite;
    transform: rotate(0);

    @keyframes movesFluffy {
      0% {
        transform: rotate(0);
      } 50% {
        transform: rotate(1deg);
      } 100% {
        transform: rotate(0);
      }
    }



    .story_preview_contents {
      position: relative;
      padding: 24px 12px 36px 12px;
      border-radius: 10px;
      // background-color: #eff4ff;
      // background-color: var.$light_orange;
      background-color: var.$light_blue;
      cursor: pointer;
      transition: 0.3s;
      &::before {
        content: "more";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 75px;
        height: 30px;
        font-size: 14px;
        background-color: var.$sub_color;
        color: #fff;
        border-radius: 10px 0 10px 0;
        transition: .2s;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 10%;
        transform: rotate(-135deg) translateX(-50%);
        border-width: 20px;
        border-style: solid;
        // border-color: transparent transparent transparent
        // #eff4ff;
        border-color: transparent transparent transparent var.$light_blue;
      }

      // 各体験談がhoverされたら矢印表示
      @media (any-hover: hover) {
        &:hover {
          &::before {
            background-color: var.$main_color;
            color: var.$sub_color;
          }
          .story_preview_info_list {

            .isHidden {
              opacity: 0;
            }
            .story_preview_info_icon {
              .bag_svg {
                transform: rotate(20deg);
                transform-origin: center left;
              }
            }
          }
        }
      }

      .story_preview_info_list {
        list-style: none;
        padding: 0;
        margin: 0;

        &.isEffect {
          animation: pageChangeEffect .3s;
        }

        // クリックされたボタンに効果
        @keyframes pageChangeEffect {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .story_preview_info_icon {
          .bag_svg {
            position: absolute;
            top: 0px;
            right: 25px;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 40px;
            height: 40px;
            transition: 0.3s;
          }
        }

        .story_preview_info_number {
          position: absolute;
          top: 0;
          right: -30px;
          transform: translate(-30%, -50%);
          display: grid;
          place-items: center;
          width: 50px;
          height: 50px;
          padding: 5px;
          background-color: #fff;
          border: 3px solid var.$main_color;
          border-radius: 50%;
          line-height: 0.8;
        }

        .story_preview_info {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-bottom: 10px;

          &.isHidden {
            opacity: 0;
          }
    

          .story_preview_item_label {
            width: 100%;
            margin-left: 30px;
            font-size: 14px;
          }

          .story_preview_item_value {
            display: grid;
            place-items: center;
            margin: 0px 20px;
            padding: 5px 8px;
            background-color: #fff;
            border-radius: 5px;

            @include bp.media(xs, max) {
              margin: 0px;
            }
          }
          .story_preview_item_value_number {
            display: flex;
            font-size: 12px;
            line-height: 1;
          }
          // 仕事の苦労や工夫
          .story_preview_item_job_struggles {
            height: 85px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            text-overflow: ellipsis;
            line-height: 1.8;
            font-size: 14px;
          }
        }
      }
    }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none; // デフォルトは非表示
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: var.$main_color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  
    &.isVisible {
      display: block; // ローディング中は表示
      // margin: 20px auto;
    }
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%)rotate(360deg);
    }
  }

  .notItem {
    text-align: center;
    margin: 50px 0;
    font-size: 16px;
    color: #999;
  }
}

// .arrow {
//   position: absolute;
//   left: 97%;
//   bottom: -10px;
//   display: inline-block;
//   width: 0;
//   height: 24px;
//   background-color: var.$sub_color;
//   clip-path: polygon(
//     0 29.5%,
//     77.3% 29.5%,
//     77.3% 0,
//     100% 50%,
//     77.3% 100%,
//     77.3% 70.5%,
//     0 70.5%
//   );
//   opacity: 0;
//   transition: width 0.5s ease, opacity 0.1s ease;
// }
