@use "@/style/breakpoint.scss" as bp;
@use "@/style/variable.scss" as var;

.storyItems {
  .story_controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  .story_preview_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    padding: 50px;

    @include bp.media(md, max) {
      grid-gap: 70px;
      padding: 20px;
    }

    @include bp.media(sm, max) {
      grid-gap: 20px;
      padding: 0px;
    }

    @keyframes storyPageChange {
      0% {
        opacity: 0;
        // filter: blur(10px);
      }
      100% {
        opacity: 1;
        // filter: blur(0px);
      }
    }

    @include bp.media(sm, max) {
      row-gap: 50px;
      column-gap: 20px;
    }

    @include bp.media(xxs, max) {
      grid-template-columns: 1fr;
    }
  }

  .story_preview_item {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .story_preview_contents {
      position: relative;
      padding: 24px 16px 36px 16px;
      border-radius: 10px;
      // background-color: #eff4ff;
      // background-color: var.$light_orange;
      background-color: var.$light_blue;
      cursor: pointer;
      transition: 0.3s;

      &::before {
        content: "more";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 75px;
        height: 30px;
        font-size: 14px;
        background-color: var.$main_color;
        color: #fff;
        border-radius: 10px 0 10px 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 10%;
        transform: rotate(-135deg) translateX(-50%);
        border-width: 20px;
        border-style: solid;
        // border-color: transparent transparent transparent
        // #eff4ff;
        border-color: transparent transparent transparent
          var.$light_blue;
      }

      // 各体験談がhoverされたら矢印表示
      @media (any-hover: hover) {
        &:hover {
          &::before {
            background-color: var.$sub_color;
          }
          .story_preview_info_list {
            .story_preview_info_icon {
              .bag_svg {
                transform: rotate(20deg);
                transform-origin: center left;
                path {
                  fill: var.$sub_color;
                }
              }
            }
          }
          .arrow {
            // width: 40px;
            opacity: 1;

            &::before {
              opacity: 1;
            }
          }
        }
      }

      .story_preview_info_list {
        list-style: none;
        padding: 0;
        margin: 0;

        &.isEffect {
          animation: clickedSearchInvalidBtn 0.3s;
        }

        // クリックされたボタンに効果
        @keyframes clickedSearchInvalidBtn {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        .story_preview_info_icon {
          .bag_svg {
            position: absolute;
            top: 0px;
            right: 25px;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 40px;
            height: 40px;
            transition: 0.3s;
          }
        }

        .story_preview_info_number {
          position: absolute;
          top: 0;
          right: -30px;
          transform: translate(-30%, -50%);
          display: grid;
          place-items: center;
          width: 50px;
          height: 50px;
          padding: 5px;
          background-color: #fff;
          border: 3px solid var.$main_color;
          border-radius: 50%;
          line-height: 0.8;
        }

        .story_preview_info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 10px;

          .story_preview_item_label {
            width: 100%;
            margin-left: 30px;
            font-size: 14px;
          }

          .story_preview_item_value {
            display: grid;
            place-items: center;
            margin: 0px 20px;
            padding: 5px 8px;
            background-color: #fff;
            border-radius: 5px;

            @include bp.media(xs, max) {
              margin: 0px;
            }
          }
          .story_preview_item_value_number {
            display: flex;
            font-size: 12px;
            line-height: 1;
          }
        }
      }
    }
  }

  .notItem {
    text-align: center;
    margin: 50px 0;
    font-size: 16px;
    color: #999;
  }
}

.arrow {
  position: absolute;
  left: 97%;
  bottom: -10px;
  display: inline-block;
  width: 0;
  height: 24px;
  background-color: var.$sub_color;
  clip-path: polygon(
    0 29.5%,
    77.3% 29.5%,
    77.3% 0,
    100% 50%,
    77.3% 100%,
    77.3% 70.5%,
    0 70.5%
  );
  opacity: 0;
  transition: width 0.5s ease, opacity 0.1s ease;
}

// .arrow {
//   position: absolute;
//   left: 90%;
//   display: inline-block;
//   width: 0;
//   height: 8px;
//   margin-top: 8.5px;
//   // border-radius: 9999px;
//   background-color: var.$sub_color;
//   opacity: 0; /* 初期は透明 */
//   transition: width 0.5s ease, opacity 0.1s ease;

//   &::before {
//     content: "";
//     position: absolute;
//     top: calc(50% - 4px);
//     right: 0;
//     width: 20px;
//     height: 8px;
//     // border-radius: 9999px;
//     background-color: var.$sub_color;
//     transform: rotate(45deg);
//     transform-origin: calc(100% - 4px) 50%;
//     opacity: 0;
//     transition: opacity 0.5s ease;
//   }
// }
