@use "../../../style/breakpoint.scss" as bp;

$orange: #f9851c;
$navy: #1a2c5b;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 10;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }
  .inputModalCloseBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .mask {
    position: fixed;
    inset: 0;
    background-color: #000000;
    opacity: 0.7;
  }
  .input_modal_body {
    position: relative;
    height: 100%;
    padding: 20px;
    overflow: scroll;
    overscroll-behavior: contain;
    z-index: 2;
    @include bp.media(xs, min) {
      &::-webkit-scrollbar {
        display: none; /* WebKit ブラウザでスクロールバーを非表示 */
      }
      scrollbar-width: none; /* Firefox 用 */
    }

    .input_modal_window {
      max-width: 1000px;
      margin: 0 auto;
      position: relative;
      padding: 56px 20px 20px 20px;
      background-color: #f4f5f6;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .inputModalItem {
        // padding: 12px;
        // border: 3px solid $orange;
        // border-radius: 5px;
        // background-color: #f4f5f6;
      }
      .heading {
        display: grid;
        place-items: center;
        justify-self: center;
        background-color: $navy; /* Navy */
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 16px;
        width: 250px;
        position: relative; /* 擬似要素の基準 */

        &::before {
          content: "";
          position: absolute;
          top: -5px;
          left: 5px;
          width: 250px;
          height: 100%;
          border-radius: 5px;
          border: 3px solid $navy;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -10px; /* 吹き出しの三角形の位置 */
          left: 50%;
          transform: translateX(-50%);
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent transparent $navy; /* 上だけ色をつける */
        }
      }

      .stitch {
        width: 100%;
        // background-color: $orange;
        margin-bottom: 10px;
        border: 3px solid $orange;
        border-radius: 3px;
        // box-shadow: 0 0 0 3px $orange;
      }
    }
  }
}
