@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/variable.scss" as var;

footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 10px;
  background-color: var.$main_color;
  z-index: 900;

  .footer_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;


    @include bp.media(xs, max) {
      display: grid;
      row-gap: 20px;
    }

    .footer_main_logo {
      @include bp.media(xs, max) {
        width: 150px;
        grid-column: 1/2;
        grid-row: 1/2;
      }
    }

    // .footer_menu {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 20px;
    //   height: 100%;

    //   @include bp.media(xs, max) {
    //     display: none;
    //   }
    //   .footer_item {
    //     color: var.$main_color;

    //     .footer_item_text {
    //       mix-blend-mode: difference;
    //     }
    //   }
    // }

    .sp_footer_menu {
      display: none;
      align-items: center;
      gap: 20px;
      font-size: 14px;
      grid-column: 2/3;
      grid-row: 1/2;
      // background-color: #fff;
      // padding: 5px 10px;
      // border-radius: 50px;
      
      @include bp.media(xs, max) {
        display: flex;
      }
      .sp_footer_item {
        display: flex;
        gap: 5px;
        color: var.$main_color;
        
        .sp_footer_item_text {
          // color: var.$main_color;
          color: #fff;
        }
      }
    }
    .copyRight {
      color: #fff;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}
