@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/common.scss" as mixin;
@use "@/app/style/variable.scss" as var;


.back_story_btn {
  @include mixin.actionBtn(#fff);
  justify-self: center;
  color: var.$main_color;
  box-shadow: #fff 0px 3px 0 0, var.$main_color 0px 7px 0 0px;
  border: 3px solid var.$main_color;
  width: 200px;
  height: 40px;
  margin-bottom: 50px;
}