@use "@/style/variable.scss" as var;


@mixin formIsValid() {
  outline: 2px solid #feacb9;
  outline-offset: -2px;
  box-shadow: none;
  background-color: #ffffff;
}

@mixin formIsActive() {
  outline: none;
  outline: 2px solid var.$form_focus_border_color;
  outline-offset: -2px;
  // background-color: #fff;
}

@mixin formColorBox($bgColor) {
  background-color: $bgColor;
  position: relative;
  padding: 1px 5px;
  color: #ffffff;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  font-size: 11px;
}

@mixin actionBtn($color) {
  display: grid;
  place-items: center;
  background-color: $color;
  border-radius: 3px;
  box-shadow: #fff 0px 3px 0 0, $color 0px 7px 0 0px;
  color: #fff;
  transition: 0.2s;
  cursor: pointer;

  &.isCheck {
    box-shadow: none;
    transform: translateY(3px);
  }

  @media (any-hover: hover) {
    &:hover {
      // opacity: 0.7;
      transform: translateY(3px);
      box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
    }
  }
}


@mixin typingText() {
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden; /* コンテンツを隠す */
  white-space: nowrap; /* テキストを一行で表示 */
  border-right: 2px solid #333; /* カーソルのように見える線 */
  animation: typing 3s steps(30) forwards, blink 0.5s step-end infinite;

  @keyframes typing {
    0% {
      width: 0;
    } 95% {
      border-right: 2px solid #333;
    }
    100% {
      width: 100%; /* 見せたいテキストの幅に合わせる */
      border-color: transparent;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent; /* カーソルを点滅させる */
    }
    100% {
      border-color: transparent;
    }
  }
}

@mixin graduallyPage() {
  opacity: 0;
  visibility: hidden;
  animation: graduallyPage .2s .3s forwards;

  @keyframes graduallyPage {
    0% {
      visibility: hidden;
      opacity: 0;
    } 100% {
      visibility: visible;
      opacity: 1;
    }
  }
}

@mixin formBackGroundColor() {
  background-color: var.$light_blue;
  padding: 40px  20px;
  border-radius: 10px;
}