$for_margin_Bottom: 40px;

$step_margin_bottom: 50px;

$step_item_height: 50px;

// メインカラー
$main_color: #1a2c5b;
// サブカラー
$sub_color: #f9851c;
// $form_input_color: #eef8ff;
$form_input_color: #ffffff;
// formのボーダー色
$form_border_color: #dddbdb;
// $form_border_color: none;
// $form_border_color: #1a2c5b;
// formのボーダー色
$form_focus_border_color: #f9851c;
// formの任意ボックス背景色
$form_must_bg_Color: #f9851c;
// formの任意ボックス背景色
$form_any_bg_Color: #1a2c5b;
// formのボタン色
$form_btn_color: #1a2c5b;

// ヘッダーの高さ
$header_Height: 80px;
// フッターの高さ
$footer_Height: 120px;

$story_subject_color: #bec6cc;
// 見るメニューボックス
// #bec6cc;

$story_bubble_color: #dae2f3;

// 体験談の最大表示数
$display_story_max_length: 10;

// 薄いオレンジ
$light_orange: #F3E6DA;

// ほんの少し青が入った薄いグレー
/* サイドバー「選択しないボタン」 */
$high_light_gray: #f4f5f6;

