@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/variable.scss" as var;


.step {
  margin-top: calc(var.$header_Height + 24px);
  margin-bottom: var.$step_margin_bottom;
  border-bottom: 1px solid #e5e5e5;
  width: 50%;

  @include bp.media(sm, max) {
    width: 80%; /* 601px〜1024px */
  }

  @include bp.media(xs, max) {
    width: 95%; /* 600px以下 */
  }
  
  .stepList {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: var.$step_item_height;
    // margin-bottom: 50px;
  
    .stepItem {
      font-size: 20px;
      position: relative;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: 0.3;
  
      &::after {
        position: absolute;
        display: block;
        bottom: -30px;
        content: '';
        width: 15px;
        height: 15px;
        transform: translateY(50%);
        background-color: #e5e5e5;
        border-radius: 50%;
      }
      
      &.current {
        opacity: 1;
        
        &::after {
          background-color: #1a2c5b;
        }
      }
    }
  }
}

// #048575
// #E2FFF8