@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.search {
  padding: 10px;
  background-color: #eff4ff;
  border-radius: 5px;

  .search_heading {
    text-align: center;
    margin-bottom: 20px;
  }

  .search_hit_count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;

    .search_hit_count_text {
      font-size: 14px;
    }
    
    .search_hit_count_value {
      display: flex;
      justify-content: flex-end;
      min-width: 110px;
      font-size: 20px;
      padding: 5px 10px;
      background-color: #fff;
      border-radius: 5px;
    }
  }

  .search_list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include bp.media(sm, max) {
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 30px;
    }
    @include bp.media(xxs, max) {
      flex-direction: column;
      align-items: center;
    }
    
    .search_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;
      border-radius: 10px;
      font-size: 14px;

      @include bp.media(xs, max) {
        justify-content: start;
      }
      @include bp.media(xxs, max) {
        width: 250px;
      }

      .search_item_label {
        position: relative;
        display: flex;
        align-items: center;
        height: 40px;
        padding: 8px;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }

        .search_item_current_label {
          display: grid;
          place-items: center;
          max-width: 120px;
          margin: 0 10px;
          padding: 0 10px;
          background-color: #808080;
          border-radius: 30px;
          color: #fff;
          font-size: 12px;
          overflow-y: hidden;
        }

        .search_plus_btn {
          position: absolute;
          right: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          transition: transform 0.3s;

          span {
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: var.$main_color;

            &:first-of-type {
              transform: rotate(0deg); // 横線
            }

            &:nth-of-type(2) {
              transform: rotate(90deg); // 縦線
            }
          }

          &.isOpen {
            transform: rotate(315deg);
          }
        }
      }

      .search_item_list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        max-height: 0;
        border-top: 2px solid #333;
        background-color: #fff;
        transition: max-height 0.5s ease;
        overflow: hidden;

        .search_item_option {
          position: relative;
          width: 100%;
          text-align: center;
          padding: 2px 4px;
          transition: 0.3s;
          cursor: pointer;

          .check_mark {
            position: absolute;
            left: 5px;
          }
          @media (hover: hover) {
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
