@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/common.scss" as mixin;
@use "@/app/style/variable.scss" as var;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 3000;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }

  .inputModalCloseBtn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 24px;
    color: var.$main_color;
    cursor: pointer;
  }

  .mask {
    position: fixed;
    inset: 0;
    background-color: #000000;
    opacity: 0.7;
  }

  .input_modal_body {
    position: relative;
    height: 100%;
    padding: 20px;
    overflow: scroll;
    overscroll-behavior: contain;
    z-index: 2;

    @include bp.media(xs, min) {
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
    }

    .input_modal_window {
      position: relative;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 50%;
      padding: 56px 20px 20px 20px;
      background-color: #f4f5f6;
      border-radius: 20px;
      pointer-events: auto;

      &.inActive {
        pointer-events: none;
      }

      @include bp.media(xs, max) {
        width: 80%;
      }

      @include bp.media(xxs, max) {
        width: 95%;
      }

      .heading {
        position: relative;
        display: grid;
        place-items: center;
        background-color: var.$main_color;
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 16px;
        width: 250px;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent transparent var.$main_color;
        }
      }

      .stitch {
        width: 100%;
        margin-bottom: 10px;
        border: 2px solid var.$sub_color;
        border-radius: 3px;
      }
    }
  }
}
