@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.story_render {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  // min-height: calc(100vh - (var.$header_Height + var.$footer_Height));


  @include bp.media(xs, max) {
    padding: 10px;
  }
}