@use "../style/breakpoint.scss" as bp;
@use "../style/common.scss" as mixin;

.survey {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ecf7f2;
  // background-color: #f9f9f9;
  position: relative;

  @include bp.media(xs, max) {
    padding: 10px;
  }

  .survey-form {
    width: 50%; /* デフォルト: 1025px以上 */

    @include bp.media(sm, max) {
      width: 80%; /* 601px〜1024px */
    }

    @include bp.media(xs, max) {
      width: 95%; /* 600px以下 */
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      // background-color: #ffffe0;
      transition: 0.2s ease;
      cursor: pointer;
    
      /* フォーカス時 */
      &:focus {
        @include mixin.formIsActive()
      }
    
      &:not(:focus) {
        box-shadow: 0 0 0px 1000px #f9fffd inset; /* 元の背景色に戻す */
      }
    }
    
    textarea {
      resize: none;
      // resize: vertical;
      min-height: 200px;
      overflow: hidden;
      field-sizing: content;
    }

    li {
      &:last-child {
        border-bottom: none;
      }

      label {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
        padding-right: 5px;
      }

      .must {
        background-color: #feacb9;
        padding: 3px;
        color: #ffffff;
        border-radius: 5px;
      }

      .free-text {
        background-color: #accafe;
        padding: 3px;
        color: #ffffff;
        border-radius: 5px;
      }
    }

    hr {
      margin: 30px 0;
      border: 0;
      border-top: 1px solid #e5e5e5;
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .confirm-step-button {
    margin-top: 30px;
    display: grid;
    place-items: center;
    width: 100%;
    color: #ffffff;
    background-color: #32d4ae;
    border-radius: 10px;
    padding: 10px;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// #00ac97
