@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  @include mixin.graduallyPage();

  @include bp.media(xxs, max) {
    padding: 10px;
  }

  .input_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 50px;
    padding: 20px;
    // background-color: var.$light_blue;
    border-radius: 10px;

    @include bp.media(xs, max) {
    }

    @include bp.media(xxs, max) {
      padding: 20px 10px;
    }

    .form_guide_btn {
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 200px;
      height: 50px;
      margin-bottom: 32px;
      background-color: var.$main_color;
      color: #fff;
      border-radius: 50px;
      box-shadow: #fff 0px 3px 0 0, var.$form_btn_color 0px 7px 0 0px;
      transition: 0.2s;
      cursor: pointer;

      @include bp.media(xxs, max) {
        align-self: center;
        height: 40px;
      }

      @media (any-hover: hover) {
        &:hover {
          transform: translateY(3px);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
        }
      }
    }

    .form_prompt {
      @include mixin.typingText();
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
      100% {
        border-color: transparent;
      }
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      background-color: var.$form_input_color;
      border-radius: 5px;
      outline: 2px solid var.$form_border_color;
      outline-offset: -2px;
      transition: 0.2s ease;
      cursor: pointer;

      &:focus {
        @include mixin.formIsActive();
      }
    }

    textarea {
      min-height: 100px;
      margin-bottom: 10px;
      resize: none;
      overflow: hidden;
      field-sizing: content;
    }

    li {
      &:last-child {
        border-bottom: none;
      }

      .error {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
        color: #feacb9;
        font-size: 14px;

        .surpriseMark {
          width: 20px;
          height: 20px;
        }
      }

      label {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
        padding-right: 5px;
      }

      .must {
        @include mixin.formColorBox(var.$form_must_bg_Color);
      }

      .free_text {
        @include mixin.formColorBox(var.$form_any_bg_Color);
      }
    }

    hr {
      margin: 24px 0;
      border: 0;
      border-top: 1px solid #e5e5e5;
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .confirm_step_button {
    @include mixin.actionBtn(var.$form_btn_color);
    margin: 0 auto;
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
  }
}
