@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/common.scss" as mixin;
@use "@/app/style/variable.scss" as var;

// $temporarySaveBtnColor: #7cabb4;
// $blue: #7cabb4;

.input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  position: relative;
  overflow: auto;


  &.inActive {
    pointer-events: none;
    overflow: hidden;
  }

  @include bp.media(xs, max) {
    padding: 10px;
  }

  .input_form {
    width: 50%; /* デフォルト: 1025px以上 */
    pointer-events: auto;
    
    &.inActive {
      pointer-events: none;
    }

    @include bp.media(sm, max) {
      width: 80%; /* 601px〜1024px */
    }

    @include bp.media(xs, max) {
      width: 95%; /* 600px以下 */
    }

    .form_guide_btn {
      width: 200px;
      text-align: center;
      justify-self: flex-end;
      display: grid;
      place-items: center;
      padding: 5px 10px;
      background-color: var.$form_btn_color;
      border-radius: 3px;
      box-shadow: #fff 0px 3px 0 0, var.$form_btn_color 0px 7px 0 0px;
      color: #fff;
      transition: 0.2s;
      margin-bottom: 20px;
      cursor: pointer;

      @media (any-hover: hover) {
        &:hover {
          transform: translateY(3px);
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
        }
      }
    }
    .form_prompt {
      @include mixin.typingText()
    }
    
    @keyframes blink {
      50% {
        border-color: transparent; /* カーソルを点滅させる */
      }
      100% {
        border-color: transparent;
      }
    }
    

    input,
    select,
    textarea {
      width: 100%;
      padding: 12px;
      font-size: 14px;
      background-color: var.$form_input_color;
      outline: 1px solid var.$form_border_color;
      outline-offset: -2px;
      border-radius: 5px;
      transition: 0.2s ease;
      cursor: pointer;

      /* フォーカス時 */
      &:focus {
        @include mixin.formIsActive();
      }

      &:not(:focus) {
        // background-color: #f4f5f6;
        // box-shadow: 0 0 0px 1000px $inputFocusColor inset; /* 元の背景色に戻す */
      }
    }

    textarea {
      resize: none;
      min-height: 100px;
      overflow: hidden;
      field-sizing: content;
      margin-bottom: 10px;
    }

    li {
      &:last-child {
        border-bottom: none;
      }
      .error {
        position: absolute;
        padding: 5px;
        color: #feacb9;
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 5px;
        .surpriseMark {
          width: 20px;
          height: 20px;
        }
      }

      label {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
        padding-right: 5px;
      }

      .must {
        @include mixin.formColorBox(var.$form_must_bg_Color);
      }

      .free_text {
        @include mixin.formColorBox(var.$form_any_bg_Color);
      }
    }

    hr {
      margin: 24px 0;
      border: 0;
      border-top: 1px solid #e5e5e5;
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .confirm_step_button {
    @include mixin.formActionBtn(var.$form_btn_color);
    width: 100%;
    // height: 30px;
  }
}


// .temporarySave {
//   display: flex;
//   gap: 10px;
//   .temporarySaveBtn {
//     display: grid;
//     place-items: center;
//     padding: 6px;
//     background-color: $temporarySaveBtnColor;
//     border-radius: 3px;
//     box-shadow: #fff 0px 3px 0 0, $temporarySaveBtnColor 0px 5px 0 0px;
//     color: #fff;
//     font-size: 14px;
//     transition: 0.2s;
//     cursor: pointer;
  
//     &.isCheck {
//       box-shadow: none;
//       transform: translateY(3px);
//     }
  
//     @media (any-hover: hover) {
//       &:hover {
//         opacity: 0.7;
//         // transform: translateY(3px);
//         // box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
//       }
//     }
//   }
//   .textCount {
//     justify-content: flex-end;
//   }
// }