.main_area {
  flex: 1;
  max-width: 900px;
  // background-color: #f8f8f8;
  min-height: 100%;
  padding: 30px 10px;
  .storyItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .story_lists {
      .accordion {
        .story_item_contents {
          display: none;
        }
      }
    }
  }
}