@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/common.scss" as mixin;
@use "@/app/style/variable.scss" as var;

.story {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: var.$header_Height;
}