@use "@/app/style/breakpoint.scss" as bp;
@use "@/app/style/common.scss" as mixin;
@use "@/app/style/variable.scss" as var;

.toast {
  position: fixed;
  top: var.$header_Height;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  background-color: #ffffff;
  border: 3px solid #feacb9;
  border-radius: 5px;

  &.isDisplay {
    display: flex;
  }

  .deleteToastBtn {
    position: absolute;
    top: 5px;
    right: 15px;
  }

  .toastBox {
    display: none;

    &.isDisplay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .toast_text {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
