@use "@/style/breakpoint.scss" as bp;
@use "@/style/common.scss" as mixin;
@use "@/style/variable.scss" as var;

.toast {
  display: flex;
  justify-content: center;
  // position: fixed;
  // top: var.$header_Height;
  // // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  // display: none;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // width: 250px;
  // height: 230px;
  // padding: 15px;
  // background-color: #ffffff;
  // background-color: var.$sub_color;
  border-radius: 50px;
  color: #fff;
  background-color: var.$sub_color;
  // border: 3px solid #feacb9;
  // border-radius: 5px;
  // z-index: 10;
  
  &.isVisible {
    display: flex;
    padding: 4px;

  }

  // .toast_mask {
  //   position: fixed;
  //   inset: 0;
  //   background-color: #000000;
  //   opacity: 0.7;
  //   &.isVisible {
  //     display: block;
  //   }
  // }

  .deleteToastBtn {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .toastBox {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.isVisible {
      display: flex;
    }
  }

  .toast_text {
    font-size: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
